@import url("https://cdn.jsdelivr.net/npm/modern-normalize@2.0.0/modern-normalize.css");

:root {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

.content {
  background-color: lightcoral;
  display: flex;
  height: 500px;
  width: 500px;
  flex-wrap: wrap;
}

.display {
  width: 450px;
  border: 3px solid #61fe7f;
}

.button-pad {
  display: flex;
  flex-wrap: wrap;
}

.calculator-button {
  margin: 5px;
  border: 3px solid #61fe7f;
  display: flex;
  flex: 1 1 20%;
}